
html,
body {
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}

#grid-container {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#grid-container div{
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  border: 1px solid darkblue;
  background-color: white;
}




